{{page-title "About"}}
<div class="container-fluid">
    <Header @name="About"/>
    <div class="row">
        <div class="col display-4 text-center pt-5 mt-5">Why Shop With Us??</div>
    </div>
    <div class="row justify-content-center">
        <AboutOurs />
    </div>
</div>

{{outlet}}