{{page-title "MooBrand"}}

<div>
    <div class="p-4 conatiner-fluid bg-danger text-white">
    <div class="row">
        <div class="col-7 h3">MooBrand</div>
        <NavBar />
    </div>
</div>
    {{outlet}}
</div>