{{#each @itemDetails as |item|}}
    <Header @name={{item.name}}/>

    <div class="row ">
            <h4 class=" col-12 text-center">{{item.name}}</h4>
            <img  class="col-4" src={{item.img}} alt="">
            <p class="col-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Repudiandae enim modi eligendi inventore laudantium eos impedit qui suscipit,
                neque repellendus reprehenderit. Quia, libero. Molestiae, quasi corporis! Vel, inventore? Velit,asperiores.
                <button class=" col-4 btn btn-danger mt-5" type="button">Add Card Details</button>
                <button class=" col-4 btn btn-danger mt-5" type="button">CashOn Delivery</button>
            </p>
    </div>
{{/each}}


{{yield}}