{{page-title "Home"}}

<div class="container-fluid body border border-warning">
    <div class="row align-items-center">
        <div class="col-7 side1 text-center">
            <p class="msg text-dark">"Happiness is not in Money But in Shopping"</p>
            <LinkTo @route="products" class="btn-danger btn-lg btn">Shop Now</LinkTo>
        </div>
        <div class="col">
            <img class="rounded-circle" src="/assets/images/shop2.jpg" alt="shooping girl">
        </div>
    </div>
</div>



{{outlet}}